.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  .description {
    margin-top: 24px;
    text-align: center;

    .text {
      color: #0963ec;
      font-weight: 500;
    }
  }
}
